<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>outra pag</title>
    <h1>outro titulo</h1>
    <h2> diferente mesmo </h2>
<!-- diferente nada, quase igual a outra página, codigo funcionando quase igual tb -->
    <form method="POST">
    {{ form.csrf_token }}

        {{ form.username.label() }}
        {{ form.username() }}

        {{ form.passw.label() }}
        {{ form.passw() }}

        {{ form.confirmButton() }}

    </form>

    <a href="{{ url_for('home') }}">voltar</a>

</head>
<body>

</body>
</html>